@page "/d/users-list"
@using Domain.Entities
@using Application.Users.Interfaces
@using Microsoft.AspNetCore.Identity
@using AuthenticateUsers.Data



@inject NavigationManager nav
@inject IGetUsersByNameUseCase getUserByNameUseCase
@inject IDeleteUserUseCase deleteUserUsecase
@inject UserManager<ApplicationUser> UserManager
@inject ISnackbar Snackbar
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveServer


 @if (isLoading)
{
    <style>
        .center-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Set the container to full height of the viewport */
        }

        .center-container2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        }
    </style>


    <div class="center-container">
        <div>
            <MudProgressCircular Color="Color.Primary" Style="height: 70px; width: 70px;" Indeterminate="true" />
            <div class="center-container2">Please Wait</div>
        </div>
    </div>
}

        
<MudTable Items="@Users" Filter="new Func<User,bool>(FilterFunc)"
          SortLabel="Sort By">
    <ToolBarContent>
        <MudText Typo="Typo.h6">All Users</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>

    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<User, object>(x=>x.RegNo)">RegNo</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x.FirstName)">FirstName</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x.LastName)">LastName</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<User, object>(x=>x.Email)">Email</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="RegNo">@context.RegNo</MudTd>
        <MudTd DataLabel="FirstName">@context.FirstName</MudTd>
        <MudTd DataLabel="LastName">@context.LastName</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel=" ">
            <MudFab OnClick="@(()=> NavigateToEdit(@context))" Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" />
            <MudFab OnClick="@(()=> Delete(@context))" Color="Color.Secondary"
                    StartIcon="@Icons.Material.Rounded.Delete" Size="Size.Small" />
        </MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager />
    </PagerContent>
    <EditButtonContent Context="button">
        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
    </EditButtonContent>
</MudTable>









@code {
    private List<User>? Users { get; set; } = new List<User>();
    public string searchString = "";
    public User ?selectedUser = new User();
    private bool isLoading = false;



    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;
            await Task.Delay(500);

            Users = (await getUserByNameUseCase.ExecuteAsync("")).ToList();
        }
        finally
        {
            isLoading = false;
        }
    }


    // Navigate to Edit page
    async  void NavigateToEdit(User user)
    {
        nav.NavigateTo($"/edit-user/{user.Id}");

    }

    //Delete User

    private async void Delete(User user)
    {
        //delete sqllite users
        try
        {
            if (user != null)
            {
                ApplicationUser applicationUser = await UserManager.FindByEmailAsync(user.Email);
                await UserManager.DeleteAsync(applicationUser);
            }
            await deleteUserUsecase.ExecuteAsync(user.Id);
            Users = (await getUserByNameUseCase.ExecuteAsync("")).ToList();
            StateHasChanged();
        }
        catch
        {
            
        }
        
        
    }


    private bool FilterFunc(User user)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (user.RegNo.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (user.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (user.LastName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (user.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        
        return false;
    }


}
